table {
    border: groove 4px;
    border-collapse: collapse;
}

thead th {
    color: white;
    background-color: green;
    border-color: black;
}

th {
    background-color: rgb(152, 207, 152);
    border: 1px solid
}

td {
    border: 1px solid
}

#max {
    background-color: green;
}

.even {
    background-color: rgb(168, 221, 203);
}