html {
    background-color: #FAC042;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    background-color: #2b2b2b;
    display: flex;
    flex-flow: column;
}

.container {
    margin-top: 100vh;
}

header img {
    margin-right: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
}

.logo h1 {
    color: white;
}

.headings {
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
}

.headings h1 {
    font-size: 1.5rem;
}

.date {
    color: white;
}

.m {
    letter-spacing: 1pt;
    color: forestgreen;
    font-weight: 700;
    font-size: 0.8rem;
}

.social {
    margin-right: 1.5rem;
}

.social svg {
    width: 25px;
    height: auto;
}

.lastModified {
    margin: 0;
    border: 1px solid #bbb;
    padding: 0.5rem;
    width: 760px;
    background-color: #abe;
}

nav {
	margin: 0 auto;
	max-width: 760px;
    background-color: #092D44;
    box-shadow: 0 0 30px #2b2b2b;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "🍔 ";
}

.navigation a:hover {
    color: #FAC042;
    background-color: #22214E;
}

.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

.layout {
    margin-top: 10px;
}

.hero {
    /* height: 200px;
    width: 200px; */
    padding: 0;
    position: relative;
}

.hero-img {
    max-width: 100%;
    max-height: 100%;
/*    padding-top: 5px;
    padding-left: 5px;
    border: solid 2px;
    height: 100px;*/
}

.hero button {
    color: white;
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: #092D44;
    padding: .5em;
    border-radius: 15px;
}

.hero button:hover {
    color: #FAC042;
    background-color: #22214E;
}

/* .hero-button {
    position: absolute;
    margin-top: 10px;
    color: white;
    padding: 5px;
    border: solid 1px;
    border-radius: 10px;
    background-color: #22214E;
} */

.event {
    color: white;
    background-color: #22214E;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 5px;
    border: solid 2px;
    height: 100px;
    overflow: auto;
}

.event p {
    border-bottom: solid 1px;

}

.weather {
    color: white;
    background-color: #22214E;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 5px;
    border: solid 2px;
    height: 100px;
    overflow: auto;
    text-align: center;
}

.weather section {
    display: grid;
    grid-template-columns: 3;
}

.weather section p {
    /* grid */
    border-bottom: solid 1px;
}

.weather section img {
    width: 60px;
    height: auto;
    float: left;
}

.hideScroll {
    overflow: auto;
    height: 100px;
    scrollbar-width: none; /*Firefox*/
  }
  
  /*Webkit*/
  .hideScroll::-webkit-scrollbar {
    width: 0;
  }

.news-release {
    color: white;
    background-color: #22214E;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 5px;
    border: solid 2px;
    height: 100px;
    overflow: auto;
}

.news-release p {
    border-bottom: solid 1px;
}

.layout2 {
    margin-top: 10px;
    border: solid 2px;
    display: flex;
    flex-direction: column;
}

.spotlight {
    color: white;
    background-color: #22214E;
    margin: 10px;
    padding-top: 5px;
    padding-left: 5px;
    border: solid 2px;
    height: 100px;
    overflow: auto;
}

/* .spotlight p {
   
} */

.spotlight3 {
    color: white;
    background-color: #22214E;
    display: none;
    overflow: auto;
}

/* .spotlight3 p {
   
} */

.join {
    color: white;
    background-color: #22214E;
    display: none;
    overflow: auto;
}

.join p {
    border-bottom: solid 1px;
}

.container {
    color: white;
}

.weather section{
    display: flex;
    justify-content:space-around ;
}

@media (min-width: 32.5em) {
    .layout {
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 5;
    }
    
    .hero {
        grid-column: 2/4;
        grid-row: 1/2;
        padding: 0;
        position: relative;
    }

    .hero-img {
        max-width: 100%;
        max-height: 100%;
    }

    .news-release {
        grid-row: 2/3;
        grid-column: 1/4;
    }

    .layout2 {
        grid-row: 3/4;
        grid-column: 1/4;
        margin-top: 10px;
        border: solid 2px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    } 

    .spotlight {
        width: 100%;
    }

    .join {
        grid-row: 4/5;
        grid-column: 1/4;
        display: block;
        margin-top: 10px;
        padding-top: 5px;
        padding-left: 5px;
        border: solid 2px;
        height: 100px;
    }

    .event {
        grid-row: 5/6;
        grid-column: 1/3;
        margin-right: 20px;
    }

    .weather {
        grid-row: 5/6;
        grid-column: 3/4;
        margin-right: 20px;
        padding-right: 80px;
    }

    .weather section img {
        width: 80px;
        height: auto;
        float: left;
    }
}

@media only screen and (min-width: 48em) {
    /*Display flex*/
    .navigation {
        display: flex;
    }

    /*Hidding bar in smaller view*/
    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 auto;
    }

    /*Aligning text*/
    .navigation a {
        text-align: center;
    }

    /*Hidding bar in smaller view*/
    .navigation li:first-child {
        display: none;
    }

    /*Create template with grid*/
    .layout {
        display: grid;
        grid-template-rows: 3;
        grid-template-columns: 4;
    }

    /*Setting event class place*/
    .event {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    /*Setting weather class place*/
    .weather {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .weather section img {
        width: 80px;
        height: auto;
        float: left;
    }

    .hideScroll {
        overflow: auto;
    }

    /*Setting join class place*/
    .join {
        grid-row: 3/4;
        grid-column: 1/2;
        margin-right: 10px;
    }

    /*Setting place for hero class image*/
    .hero {
        grid-row: 1/3;
        grid-column: 2/4;
        width: 100%;
        height: 360px;
        margin-top: 10px;
    
    }

    .hero-img {
        /* object-fit: cover; */
        width: 100%;
        height: auto;
        
    }

    /*Setting join class place*/
    .news-release {
        grid-row: 3/4;
        grid-column: 2/4;
    }

    /*Setting place for spots*/
    .layout2 {
        grid-row: 1/4;
        grid-column: 4/5;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    /*Setting spotlight3 class place*/
    .spotlight3 {
        display: block;
        margin: 10px;
        padding-top: 5px;
        padding-left: 5px;
        border: solid 2px;
        height: 100px;
    }
}