@media (min-width: 32.5em) {
    .layout {
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 5;
    }
    
    .hero {
        grid-column: 2/4;
        grid-row: 1/2;
        padding: 0;
        position: relative;
    }

    .hero-img {
        max-width: 100%;
        max-height: 100%;
    }
}